.main-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
  top:0;
  bottom: 0;
  right: 0;
    left: 0;
  font-family: "Roboto Condesed", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  justify-content: center;
  font-weight: "Bold", sans-serif;
  position: absolute;
  margin-right: 100px;
  margin-left: 100px;
  animation: ani1 0.75s ease-out 4s  forwards ;
}
.avatar-img{
  width: 40px;
  height: 40px; 
  display:inline-block;
 
}
.project-image{
  height: 100%;
  width: 100%;
  min-height: 400px;
  padding: 50px 30px;
  background-repeat: no-repeat;
  background-size: cover;
background-attachment:fixed;}
  .sub-title{
    color: #ffffff;
    font-size:  20px;
    font-weight: "Bold", sans-serif;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    display: inline-block;

  }
  .header-wraper{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
  

  }
@keyframes ani1 {
  
  100%{
opacity: 1;
  };
}